// Hover animations are included in the main style.scss file.
// this is for 'animations' using keyframes


body {
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top-arrow {
    animation-name: pop;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes pop {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}